@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background-color: #129799;
    border: 1px solid #129799;
}

.headerNav {
    margin-top: 1.4vh;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
}

.linkSection{
    text-decoration: none;
    font-size: 2.8vh;
    /* border: 1px solid red; */
    font-weight: 400;
}

.liNav {
    list-style: none;
    /* border: 1px solid red; */
}

.linkSection:hover {
    font-weight: 500;
}

.introducao {
    background-color: #129799;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.titulo {
    font-size: 6.13vh;
    font-weight: 700;
    /* border: 1px solid red; */
}

.batimento {
    width: 61vh;
    height: 30vh;
}

.secondNav {
    display: flex;
    justify-content: space-around;
    background-color: #129799;
    /* border: 1px solid red; */
}


.tiposLi {
    font-weight: 500;
    font-size: 2.8vh;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid red; */
    margin-bottom: 1.4vh;
}


main {
    background-color: #FFA185;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 2.8vh;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.8vh;
    margin-left: 1.4vh;
    align-self: flex-start;
}

p {
    margin-top: 1.4vh;
    margin-left: 1.4vh;
    margin-bottom: 1.4vh;
    color: black;
    font-size: 2.8vh;
    align-self: flex-start;
}

.primeira {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 180vh;
    margin-bottom: 5.3vh;
    flex-wrap: wrap;
}


.imagem {
    width: 62vh;
    height: 32vh;
    /* border: 1px solid red; */
}

.more {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    /* border: 1px solid red; */
}

.next {
    font-size: 2.8vh;
    font-weight: 700;
    color: #000000;
    /* border: 1px solid red; */
}

footer {
    background-color: #129799;
    height: 15.3vh;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.icon {
    width: 3.8vh;
    height: 3.6vh;
    /* border: 1px solid red; */
}

.iconFigure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
}

.links {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 50%;
    align-items: center;
}

.linksTipos {
    display: flex;
    /* border: 1px solid red; */
    width: 50%;
    justify-content: space-around;
}

li {
    list-style: none;
}

.footerLinks{
    font-size: 2.8vh;
    font-weight: 400;
    color: #F7F7F7;
}

@media (max-width: 2560px) {
    .primeira {
        height: 80vh;
        width: 140vh;
    }
    
    .imagem {
        width: 62vh;
        height: 32vh;
        /* border: 1px solid red; */
    }
}

@media (max-width:1440px) {

    .titulo {
        font-size: 2vh;
    }

    .batimento {
        width: 32vh;
        height: 19vh;
    }

    .primeira {
        height: 50vh;
        width: 85vh;
        margin-bottom: 1vh;
    }
    .imagem {
        width: 35vh;
        height: 20vh;
        /* border: 1px solid red; */
    }
    .linkSection {
        font-size: 1.4vh;
    }
    .tiposLi {
        font-size: 1.4vh;
    }

    h2 {
        font-size: 1.8vh;
    }
    p{
        font-size: 1.4vh;
    }

    .next {
        font-size: 2.2vh;
    }
    .footerLinks {
        font-size: 1.8vh;
    }

    .icon {
        width: 2.8vh;
        height: 2.6vh;
        /* border: 1px solid red; */
    }
    .linksTipos {
        width: 45vh;
    }

}

@media (max-width: 1024px) {
    .primeira {
        height: 50vh;
        width: 60vh;
        margin-bottom: 1vh;
    }
    .imagem {
        width: 26vh;
        height: 23vh;
        /* border: 1px solid red; */
    }

    .titulo {
        font-size: 3vh;
    }
    
    h2 {
        font-size: 1.8vh;
    }
    p{
        font-size: 1.5vh;
    }

    footer {
        height: 10vh;
    }
}

@media (max-width: 768px) {

    .primeira {
        height: 35vh;
        width: 45vh;
        margin-bottom: 0.5vh;
    }
    .imagem {
        width: 20vh;
        height: 16vh;
        /* border: 1px solid red; */
    }
    .tiposLi {
        font-size: 1.5vh;
    }
    .linkSection {
        font-size: 1.5vh;
    }
    .titulo {
        font-size: 1.8vh;
    }
    h2 {
        font-size: 1.5vh;
    }
    p{
        font-size: 1.2vh;
    }
    .batimento {
        width: 25vh;
        height: 15vh;
    }
    .linksTipos {
        width: 40vh;
    }
    .footerLinks{
        font-size: 1.5vh;
    }
    .icon {
        width: 2vh;
        height: 1.8vh;
        /* border: 1px solid red; */
    }

    .next {
        font-size: 1.5vh;
    }
}

    @media (max-width: 425px) {
        .primeira {
            height:18vh;
            width: 25vh;
            margin-bottom: 0.1vh;
        }
        .imagem {
            width: 10vh;
            height: 8vh;
            /* border: 1px solid red; */
        }
        .titulo {
            font-size: 1.2vh;
        }
        .batimento {
            width: 10vh;
            height: 10vh;
        }
        .tiposLi {
            font-size: 1vh;
        }
        .linkSection {
            font-size: 1vh;
        }
        h2 {
            font-size: 1.2vh;
        }
        p{
            font-size: 1vh;
        }
        .next {
            font-size: 1vh;
        }
        .icon {
            width: 1vh;
            height: 1.3vh;
            /* border: 1px solid red; */
        }
        footer {
            height: 4vh;
        }
        .footerLinks{
            font-size: 1vh;
        }
     }